# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignorar todos los png
.png

#ignorar todos los jpg
.jpg

Clase7/eventos1.png
Clase7/eventos2.png
Clase7/eventos3.png